
/*
     FILE ARCHIVED ON 08:02:30 Aug 05, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:03:40 Oct 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.429
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.007
  esindex: 0.008
  cdx.remote: 2.861
  LoadShardBlock: 300.605 (3)
  PetaboxLoader3.datanode: 204.642 (5)
  PetaboxLoader3.resolve: 137.582 (2)
  load_resource: 81.489
  loaddict: 35.126
*/