.jet-mobile-menu-single .jet-menu-icon {-webkit-align-self:center; align-self:center; }.jet-mobile-menu-single .jet-menu-badge {-webkit-align-self:center; align-self:center; }
/*
     FILE ARCHIVED ON 19:17:08 Aug 06, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:03:39 Oct 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.145
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 8.207
  LoadShardBlock: 111.175 (3)
  PetaboxLoader3.datanode: 108.868 (5)
  PetaboxLoader3.resolve: 74.628 (2)
  load_resource: 137.693
  loaddict: 84.141
*/